Протокол/responses/confirm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Confirmation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Verify"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Verify">
    <xs:complexType>
      <xs:attribute name="Block" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
